@use '../../variables' as *;

.footer {
  color: $cor-texto-secundario;

  .econverse-section {
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }

  .redes {
    ul {
      display: flex;
      padding-left: 0;
      margin: 0;
      gap: 16px;
    }

    li {
      list-style: none;
    }
  }

  .logo-footer {
    padding-bottom: 18px;
  }

  p, h2 {
    font-size: 14px;
    font-weight: 300;
  }

  h2 {
    padding-bottom: 27px;
    max-width: 354px;
  }
}

.top-footer {
  display: flex;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 80px;
  background-color: $cor-fundo-claro;
}

.links {
  height: 198px;
  border-left: 1px $cor-texto-secundario solid;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 90px;
  gap: 100px;
}

.bottom-footer {
  display: flex;
  justify-content: center;

  p {
    padding: 13px 0px;
  }
}
