// Cores principais
$cor-violeta: #271C47;
$cor-amarelo: #F7CA11;
$cor-azul: #3442B5;
$cor-roxo: #3019B2;

// Cores de fundo e texto
$cor-branco: #FFFFFF;
$cor-branco-alternativo: #E7E7E7;
$cor-fundo-claro: #F4F4F4;
$cor-texto-principal: #3F3F40;
$cor-texto-secundario: #222222ec;
$cor-texto-terceiro: #4E4E4E;
$cor-cinza-claro: #808080;
$cor-texto-input: #676767;
