@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

// Cores principais
$cor-violeta: #271C47;
$cor-amarelo: #F7CA11;
$cor-azul: #3442B5;
$cor-roxo: #3019B2;

// Cores de fundo e texto
$cor-branco: #FFFFFF;
$cor-fundo-claro: #F4F4F4;
$cor-texto-principal: #3F3F40;
$cor-texto-secundario: #222222ec;
$cor-texto-terceiro: #4E4E4E;
$cor-cinza-claro: #808080;
$cor-texto-input: #676767;

figure, h5, h3, h1, body {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: 600;
}

h3{
    font-size: 32px;
}

h5{
    font-size: 14px;
}

