@use '../../variables' as *;

.newsletter {
  background-color: $cor-violeta;
  padding: 40px 80px;
  color: $cor-branco;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: 600;
    font-size: 32px;
  }

  p{
    max-width: 510px;
    line-height: 18px;
    font-size: 14px;
  }

  .info {
    display: flex;
    gap: 8px;
    padding-bottom: 8px;
  } 

  .check{
    display: flex;
    gap: 4px;

    p{
      font-size: 14px;
    }
  }

}
