@use "../../variables" as *;

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  margin: 0px 150px;

  h1 {
    color: $cor-azul;
    font-size: 30px;
    font-weight: bold;
    position: relative; 
    z-index: 1; 
    background-color: $cor-branco;
    padding: 0px 34px;
    padding-bottom: 4px;
  }

  a {
    font-size: 15px;
    color: $cor-texto-principal;
    font-weight: bold;
    cursor: pointer;
  }
}

.linha {
  border-top: 1px solid $cor-linha;
  width: 100%;
  position: absolute;
  top: 25%; 
  z-index: 0; 
}

.linha-solo{
  top: 30%; 
}

.padding-pequeno{
  padding-bottom: 24px;
}

.padding-grande{
  padding-bottom: 32px;
}