@use '../../../variables' as *;


.item-categoria{
  cursor: pointer;
  text-decoration: none;
  
  img{
    padding: 34px;
    border-radius: 10px;
    box-shadow: 0 4px 11px hsl(0,0%,0%,13%);
    background-color: $cor-fundo-claro;
  }

  figcaption{
    margin-top: 22px;
    color: $cor-texto-terceiro;   
    text-align: center;
  }

  h2{
    font-size: 14px;
    
  }
}

.ativo{
  img{
    background-color: $cor-branco;
  }

  figcaption{
    color: $cor-roxo;
  }
}