@use '../../variables' as *;

.utilitario{
  padding: 6px 0px;
  border-bottom: 1px solid $cor-linha-header;
  display: flex;
  justify-content: center;
  color: $cor-texto-header;
  
  img{
    padding-right: 9px;
  }

  strong{
    font-weight: 600;
    color: $cor-roxo;
  }

  ul {
    gap: 119px;
  }

  li {
    display: flex;
    list-style: none;
  }

  p{
    font-size: 12px;
  }

}

.principal {
  border-bottom: 1px solid $cor-linha-header;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  align-items: center;

  ul{
    gap: 32px;
    padding-left: 109px;
  }
}

.categorias-header{

  padding: 10px 0px;
  box-shadow: 0px 8px 16px hsla(45, 49%, 15%, 0.12);

  ul{
   justify-content: space-evenly; 
  }
}

.header{
  padding: 0 80px;
}

.logo{
  width: 139px;
  padding-right: 186px;
}

li {
  display: flex;
  list-style: none;
}

ul {
  display: flex;  
  padding: 0;  
  margin: 0;
}