@use '../../variables' as *;

.botao{
  background-color: $cor-amarelo;
  border-radius: 5px;
  border: none;
  padding: 13px 54.5px;
  font-size: 16px;
  font-weight: 600;
  color: $cor-violeta;
  cursor: pointer;
  

  &:focus {
    outline: none;
  };
}

.banner-btn{
  padding: 12px 26.51px;
  border-radius: 6px;
}

.news-btn{
  padding: 15px 40px;
  border-radius: 8px;
  font-size: 14px;
}