@use '../../app.scss' as *;

.botao{
  background-color: $cor-amarelo;
  border-radius: 5px;
  border: none;
  padding: 12px 52px;
  font-size: 16px;
  font-weight: 600;
  color: $cor-violeta;
  cursor: pointer;
  

  &:focus {
    outline: none;
  };
}